[class*="container"] {
    height: 300px;
    width: 600px;
    border: 1px solid #333;
    margin: 20px;
    display: grid;
}


/* Grids with specific positioning */

.container1 {
    
    grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
    grid-template-rows:[row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
}

.item-a {
    background-color: pink;

    /* grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3; */

    /* short hand for grid column/row start/end */

    grid-column: 2 / five;
    grid-row: 1 / 3; 
}

.item-b {
    background-color: rgba(0,0,0,0.3);

    /* grid-column-start: 1;
    grid-column-end: span col4-start;
    grid-row-start: 2;
    grid-row-end: span 2; */

     /* short hand for grid column/row start/end */

    grid-column: 1 / col4-start;
    grid-row: 2 / span 2; 
}

.item-c {
    background-color: orange;
}

/* Grids without specific positioning */

.container2 {
    grid-template-columns: repeat(3, 1fr); /* amount of repitions, size */
    grid-template-rows: auto; /* default value */
    padding: 10px;
    /* column-gap: 10px;
    row-gap: 10px; */

    gap: 15px 10px;

    /* justify-items: center;
    align-items: center; */

    /* shorthand */

    place-items: stretch stretch; /* align justify */

    /* Needs available space to move around fr takes up available space. */
    /* Positions column-wise */

    justify-content: space-between;
    align-content: space-evenly;
    /* short hand */
    place-content : stretch stretch;
}
 
[class*="box"] {
    border: 1px solid #333;
}

.box5 {
    align-self: center;
    justify-self: center;

    /* Short hand */
    place-self: stretch stretch;
}