[class*="container"] {
    height: 300px;
    width: 600px;
    border: 1px solid #333;
    margin: 20px;
    display: grid;
}


/* Grids with specific positioning */

.container1 {
    
    grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
    grid-template-rows:[row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
}

.item-a {
    background-color: pink;

    /* grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3; */

    /* short hand for grid column/row start/end */

    grid-column: 2 / five;
    grid-row: 1 / 3; 
}

.item-b {
    background-color: rgba(0,0,0,0.3);

    /* grid-column-start: 1;
    grid-column-end: span col4-start;
    grid-row-start: 2;
    grid-row-end: span 2; */

     /* short hand for grid column/row start/end */

    grid-column: 1 / col4-start;
    grid-row: 2 / span 2; 
}

.item-c {
    background-color: orange;
}

/* Grids without specific positioning */

.container2 {
    grid-template-columns: repeat(3, 1fr); /* amount of repitions, size */
    grid-template-rows: auto; /* default value */
    padding: 10px;
    /* column-gap: 10px;
    row-gap: 10px; */

    gap: 15px 10px;

    /* justify-items: center;
    align-items: center; */

    /* shorthand */

    place-items: stretch stretch; /* align justify */

    /* Needs available space to move around fr takes up available space. */
    /* Positions column-wise */

    justify-content: space-between;
    align-content: space-evenly;
    /* short hand */
    place-content : stretch stretch;
}
 
[class*="box"] {
    border: 1px solid #333;
}

.box5 {
    align-self: center;
    justify-self: center;

    /* Short hand */
    place-self: stretch stretch;
}

/* 1. All children need to be given grid-area name 
   2. Children need to be posiitoned in grid-area 
   3. The elements must be a square or retangle = 4 corners
   4. . means empty area
   5. . can't be palced in between same section must be single section
   6. All rows must have equal amount of cells.
   */

/* Grid Areas */

.container3 {
  grid-template-columns: repeat(4, 1fr) ;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header sidebar"
    "main-content main-content . sidebar"
    "footer footer footer sidebar";

    /*
    gap- When assigning 1 value the value applies for both row and column.
    */

    gap: 10px; 
}

header {
    background-color: tomato;
    grid-area: header;

}

main {
    background-color: wheat;
    grid-area: main-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

aside {
    background-color: lightcyan;
    grid-area: sidebar;
}

footer {
    background-color: lightskyblue;
    grid-area: footer;
}
